#navbar-dummy{
    height: 56px;
}

#footer-dummy{
    height: 50px;
}
#footer{
    margin-top: -50px;
    z-index: 2!important;
}
    #footer .container{
        overflow: hidden;
        height: 50px;
    }
        #footer .container > div{
            background-color: #F5F5F5;
            border-radius: 4px;
            padding: 0 15px;
            height: 40px;
            line-height: 41px;
        }

        #footer .row> div:last-child{
            text-align: right;
        }

#rectangle-create-form {
    margin: 0;

}
.container {
    min-width: 1200px;
}

#rectangle-form {
    height: 390px;

}
#rectangle-form .form-horizontal .control-label {
    width: 80px;
}

#rectangle-form .controls{
    margin-left: 100px;
}
    #rectangle-form .controls input[type="text"]{
        width: 220px;
    }

   #rectangle-form .form-horizontal .form-actions{
        padding-left : 100px;
    }

#rectangle-grid{
    height: 380px;
}

